
.Position{
    text-align: center;
    margin-bottom:15px;
}

.CardWeekRank{
    min-width:375px;
}

.weekRankStyle{

    padding-top:5px;
}

.position-title{
    margin-left:70px;
}

.header-button{
    float:right;
}

.card-title{
    width:100%;
}

#weekly-ranking{
    visibility: visible !important;
}

#select-rankings{
    visibility: visible !important;
}
