

.ttedBox {
}


.gridSize{
    min-width:300px;
    width:300px;
}

.summaryGridSize{
    min-width:330px;
}

.defaultColumn{
    max-width:50px;
}


.DottedBox {
    overflow-x: scroll;
    margin-top:20px;
}

.record-count{
    visibility: hidden !important;
}

.clear-filter{
    visibility: hidden !important;
}

.pagerTop{
    visibility: hidden;
}

.selectMargin{
    margin-bottom:30px;
}
