

.ttedBox {
}


.gridSize{
    min-width:300px;
    width:300px;
}


.DottedBox {
    overflow-x: scroll;
    margin-top:20px;
}

.record-count{
    visibility: hidden !important;
}

.clear-filter{
    visibility: hidden !important;
}

.pagerTop{
    visibility: hidden;
}